@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
     
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
   
    }
  }

  h1{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    text-transform: uppercase;
    margin: 1%;
}

.card-log{
  width: 25em;
}

.Login{
  display:flex;
  justify-content:center;
  margin-top: 10%;
}

.text-log{
  font-size:17px;
  color: black;
  text-align: center;
  font-weight: bold;

}

@media screen and (max-width : 1500px) and (min-width : 992px){
  .Login{
    display:flex;
    justify-content:center;
    margin-top: 10%;
  }
}

@media screen and (max-width : 991px) and (min-width : 768px){
  .Login{
    display:flex;
    justify-content:center;
    margin-top: 15%;
  }
}


@media screen and (max-width : 767px) and (min-width : 576px){
  .Login{
    display:flex;
    justify-content:center;
    margin-top: 20%;
  }
}


@media screen and (max-width : 575px) and (min-width : 300px){
  .Login{
    display:flex;
    justify-content:center;
    margin-top: 50%;
  }
}

