h1{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    text-transform: uppercase;
    margin: 1%;
}

.mg-1{
    margin-bottom:3%;
    margin-top: 2%;
}

.btn-add{
    margin-left:85%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.img-next{
    display: flex;
    justify-content: right;    
    margin: 1.5%;
}

.title-form{
    font-size:35px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;

}