@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,700;1,300;1,500&display=swap');


.margin{
    padding-bottom:10%;
}

.btn-update{
    display: flex;
    justify-content:center;
    margin: 5%;
   margin-top: 10%;
}



.title-form{
    font-size:35px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 3.5%;

}

.m5{
    margin-left: 5%;
}

.btn-top:hover{
    opacity: 0.6;
    
}

.img-next:hover{
    opacity: 0.6;
    
}

.label-color{
    color: black;
    font-weight: bold;
    font-family:Roboto;
    text-transform: uppercase;

}

.label-color2{
    color: gray;
    font-weight: bold;
    font-family:Roboto;
    text-transform: uppercase;
    font-size:30px;

}

.label-nom{
    color: rgb(105, 101, 101);
    font-weight:600;
    font-family:Roboto;
    text-transform: uppercase;

}

.a-color{
    text-decoration: underline;
    color: rgb(68, 67, 67);
    font-weight:600;
    font-family:Roboto;
}


.text{
    margin-left:10%;
 }

@media screen and (max-width : 1500px) and (min-width : 851px){
    
.btn-update{
    display: flex;
    justify-content:center;
    margin: 5%;
   margin-top: 20%;
}

    .title-form{
        font-size:25px;
        color: black;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 3.5%;
    
    }
    .card{
        margin: 4%;
    }

    .label-color{
        color: black;
        font-weight: bolder;
        font-family:Roboto;
        text-transform: uppercase;

    }
    
    .label-nom{
        color: rgb(68, 67, 67);
        font-weight:600;
        font-family:Roboto;
        text-transform: uppercase;

    }

    .label-color2{
        color: gray;
        font-weight: bold;
        font-family:Roboto;
        text-transform: uppercase;
        font-size:25px;
    
    }

    .mg-6{
        margin-left:99%;
        margin-bottom: -11%;
    }
 

    
    
}
@media screen and (max-width : 850px) and (min-width : 576px){
    
    .btn-update{
        display: flex;
        justify-content:right;
        margin: 5%;
       margin-top: 25%;
    }
    
    .title-form{
        font-size:28px;
        color: black;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 3.5%;

       
    
    }
  
    .mag-9{
        margin-left:-20%;
     }
    
    
    .card{
        margin: 4%;
    }
  

    .label-color{
        color: black;
        font-weight: bolder;
        font-family:Roboto;
        text-transform: uppercase;

    }
    
    .label-nom{
        color: rgb(68, 67, 67);
        font-weight:600;
        font-family:Roboto;
        text-transform: uppercase;

    }

    .label-color2{
        color: gray;
        font-weight: bold;
        font-family:Roboto;
        text-transform: uppercase;
        font-size:20px;
    
    }

    .mg-6{
        margin-left:99%;
        margin-bottom: -12%;
    }
 
 
}


@media screen and (max-width : 575px) and (min-width : 300px){
    .btn-update{
        display: flex;
        justify-content:center;
        margin: 5%;
       margin-top: 35%;
    }   
    
        .title-form{
            font-size:0.8rem;
            color: black;
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: 5%;
            margin-top: 5%;
    
        }
          
            

              .label-color{
                color: black;
                font-weight: bolder;
                font-family:Roboto;
                font-size: 11px;
                text-transform: uppercase;

               
            }
            
            .label-nom{
                color: rgb(68, 67, 67);
                font-weight:700;
                font-family:Roboto;
                font-size: 11px;
                text-transform: uppercase;

            }

            
.a-color{
    text-decoration: underline;
    color: rgb(68, 67, 67);
    font-weight:600;
    font-size:Roboto;
    font-size: 11px;
}

.label-color2{
    color: gray;
    font-weight: bold;
    font-family:Roboto;
    text-transform: uppercase;
    font-size:0.65rem;

}

.text{
    margin-left:0%;
 }

 .mg-6{
     margin-left:60%;
     margin-bottom: -10%;
 }

.img-next{
    width:50%;
}
    }

