@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,700;1,300;1,500&display=swap');


.card-show{
    margin-top: 5%;
    
}
.card-width{

    width:30rem;
}
.h1{
    
}


.H1{margin-top:10%;
    text-align: center;
    text-align: center;
    font-family : Roboto;
    text-transform: uppercase;
    margin: 1%;
    margin-bottom: 5%;
    font-weight: bold;
}
.merge22{
    margin-top: 10%;
}
 Button{
     margin:3%;
 }

.mg{text-align:center;}
.mg2{margin-left:20%;}

.btn-back{
    display: flex;
    justify-content: center;
    margin: 2%;
    
}

@media screen and (max-width : 1500px) and (min-width : 992px){

    .card-show{
        margin-top: 15%;
       
        
    }
    .card-width{

        width:30rem;
    }

    .H1{margin-top:10%;
        text-align: center;
        text-align: center;
        font-family : Roboto;
        text-transform: uppercase;
        margin: 1%;
        margin-bottom: 5%;
        font-weight: bold;
    }
    .merge22{
        margin-top: 10%;
    }
     Button{
         margin:3%;
     }
    
    .mg{text-align:center;}
    .mg2{margin-left:20%;}
    
    .btn-back{
        display: flex;
        justify-content: center;
        margin: 2%;
        
    }

}

@media screen and (max-width : 991px) and (min-width : 768px){
    
    .card-show{
        margin-top: 20%;
       
        
    }
    .card-width{

        width:30rem;
    }

    .H1{margin-top:10%;
        text-align: center;
        text-align: center;
        font-family : Roboto;
        text-transform: uppercase;
        margin: 1%;
        margin-bottom: 5%;
        font-weight: bold;
    }
    .merge22{
        margin-top: 20%;
    }
     Button{
         margin:3%;
     }
    
    .mg{text-align:center;}
    .mg2{margin-left:20%;}
    
    .btn-back{
        display: flex;
        justify-content: center;
        margin: 2%;
        
    }
}


@media screen and (max-width : 767px) and (min-width : 576px){
    .card-show{
        margin-top: 25%;
       
        
    }
   
   
     Button{
         margin:3%;
     }
    
    .mg{text-align:center;}
    .mg2{margin-left:20%;}
    
    .btn-back{
        display: flex;
        justify-content: center;
        margin: 2%;
        
    }
    
.H1{margin-top:10%;
    text-align: center;
    text-align: center;
    font-family : Roboto;
    text-transform: uppercase;
    margin: 1%;
    margin-bottom: 5%;
    font-weight: bold;
}
.merge22{
    margin-top: 25%;
}
}


@media screen and (max-width : 575px) and (min-width : 300px){
    .card-show{
        margin-top: 25%;
        
    }
    .card-width{

        width:15rem;
    }
  
.H1{margin-top:10%;
    text-align: center;
    text-align: center;
    font-family : Roboto;
    text-transform: uppercase;
    margin: 1%;
    margin-bottom: 5%;
    font-weight: bold;
}
.merge22{
    margin-top: 35%;
}
     Button{
         margin:3%;
         width: 7rem;
     }
    
    .mg{text-align:center;}
    .mg2{margin-left:20%;}
    
    .btn-back{
        display: flex;
        justify-content: center;
        margin: 2%;
        
    }
}

